@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #b03f3f;
}

a:hover {
  cursor: pointer;
}

.header-container {
  background: #faf4f4;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #b03f3f;
}

.logo {
  font-size: 36px;
  font-weight: 600;
  color: #b03f3f;
}

.highlight {
  color: #3FB04B;
}

.nav-items {
  display: flex;
  gap: 30px;
}

.item {
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
}

.item:hover {
  color: #b03f3f;
}
