/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Vertically center the login component */
  background-color: #f0f0f0;
}

/* Login component styles */
button {
  cursor: pointer;
}

.login {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 450px;
  height: 500px;
  transition: 0.3s;
  overflow: hidden; /* Hide any content that goes beyond the component */
  position: relative;
}

.login:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Increase the shadow on hover */
}

.login > div {
  text-align: center;
}

.heading {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(51, 194, 175);
  text-transform: uppercase; /* Convert the heading to uppercase */
}

/* Form styles */
.pass input {
  height: 30px;
  width: 330px;
  margin-bottom: 15px;
}

h3 {
  text-align: left;
  font-weight: 200;
  color: #777;
}

.submit {
  margin-top: 20px;
}

.submit button {
  background-color: #0066cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s, transform 0.2s; /* Add transition for button background color change and transform */
  text-transform: uppercase;
  letter-spacing: 1px; /* Add letter-spacing for a stylish button text */
  position: relative;
  z-index: 1; /* Ensure the button is on top of other elements in the login component */
}

.submit button:hover {
  background-color: #0052a3;
  transform: translateY(-2px) scale(1.05); /* Add vertical translation and slight scale increase on hover */
}

.submit button:active {
  background-color: #0044aa;
  transform: scale(0.95); /* Slightly scale down the button on active state */
}

/* Animated gradient background */
.login:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, #0066cc, #00cc66, #cc0066, #cc6600);
  animation: gradientAnimation 10s ease infinite;
  z-index: -1; /* Place the gradient background behind other elements */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
